<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="container">
    <h2>Delete User</h2>
    <div th:if="${message != null}">
        <p class="error-message" th:text="${message}"></p>
    </div>
    
    <form th:action="@{/Adminregisterform/delete}" th:object="${admindelete}" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="example@gmail.com" th:field="*{email}" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="*******" th:field="*{password}" required>
        </div>
        <button type="submit">Delete</button>
    </form>
</div>
</body>
</html>
